create database RoadFlow
go
use RoadFlow
go
/****** Object:  Table [AppLibrary]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [AppLibrary](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[Type] [uniqueidentifier] NOT NULL,
	[OpenMode] [int] NOT NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Params] [varchar](max) NULL,
	[Manager] [varchar](max) NULL,
	[Note] [varchar](max) NULL,
	[Code] [varchar](50) NULL,
	[UseMember] [varchar](max) NULL,
 CONSTRAINT [PK_AppLibrary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [DBConnection]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [DBConnection](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[Type] [varchar](500) NOT NULL,
	[ConnectionString] [varchar](max) NOT NULL,
	[Note] [varchar](max) NULL,
 CONSTRAINT [PK_DBConnection] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Dictionary]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Dictionary](
	[ID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Code] [varchar](500) NULL,
	[Value] [varchar](max) NULL,
	[Note] [varchar](max) NULL,
	[Other] [varchar](max) NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_Dictionary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Log]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Log](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[WriteTime] [datetime] NOT NULL,
	[UserID] [uniqueidentifier] NULL,
	[UserName] [nvarchar](50) NULL,
	[IPAddress] [varchar](50) NULL,
	[URL] [varchar](max) NULL,
	[Contents] [varchar](max) NULL,
	[Others] [varchar](max) NULL,
	[OldXml] [varchar](max) NULL,
	[NewXml] [varchar](max) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Organize]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Organize](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](2000) NOT NULL,
	[Number] [varchar](900) NOT NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ParentID] [uniqueidentifier] NOT NULL,
	[Sort] [int] NOT NULL,
	[Depth] [int] NOT NULL,
	[ChildsLength] [int] NOT NULL,
	[ChargeLeader] [varchar](200) NULL,
	[Leader] [varchar](200) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Organize] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Role]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Role](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[UseMember] [varchar](max) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [RoleApp]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RoleApp](
	[ID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[AppID] [uniqueidentifier] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Params] [varchar](max) NULL,
	[Sort] [int] NOT NULL,
	[Ico] [varchar](200) NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_RoleApp] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [TempTest]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TempTest](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](500) NULL,
	[UserID] [varchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[DeptID] [varchar](50) NULL,
	[DeptName] [nvarchar](500) NULL,
	[Date1] [datetime] NULL,
	[Date2] [datetime] NULL,
	[Type] [varchar](500) NULL,
	[Reason] [nvarchar](max) NULL,
	[WriteTime] [datetime] NULL,
	[Days] [float] NULL,
	[test] [varchar](5000) NULL,
	[test1] [varchar](5000) NULL,
	[test2] [varchar](5000) NULL,
	[test3] [varchar](5000) NULL,
	[flowcompleted] [int] NULL,
 CONSTRAINT [PK_TempTest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [TempTest_CustomForm]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TempTest_CustomForm](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Contents] [nvarchar](4000) NOT NULL,
	[FlowCompleted] [int] NULL,
 CONSTRAINT [PK_TempTest_CustomForm] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [TempTest_News]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TempTest_News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Title1] [nvarchar](50) NULL,
	[UserID] [varchar](50) NULL,
	[Type] [varchar](500) NULL,
	[Contents] [text] NULL,
	[State] [int] NOT NULL,
 CONSTRAINT [PK_TempTest_News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [TempTest_Purchase]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TempTest_Purchase](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[UserID] [varchar](50) NOT NULL,
	[UserDept] [varchar](50) NOT NULL,
	[SqDateTime] [datetime] NULL,
	[TypeOther] [nvarchar](500) NULL,
	[Note] [nvarchar](500) NULL,
	[IsCompleted] [int] NULL,
 CONSTRAINT [PK_TempTest1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [TempTest_PurchaseList]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TempTest_PurchaseList](
	[ID] [uniqueidentifier] NOT NULL,
	[PurchaseID] [int] NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Model] [varchar](50) NULL,
	[Unit] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Sum1] [decimal](18, 2) NULL,
	[Date] [datetime] NULL,
	[Type] [varchar](50) NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_TempTest_PurchaseList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Users]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Users](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Account] [varchar](255) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[Status] [int] NOT NULL,
	[Sort] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [UsersApp]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [UsersApp](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[AppID] [uniqueidentifier] NULL,
	[Title] [nvarchar](200) NULL,
	[Params] [varchar](500) NULL,
	[Ico] [varchar](500) NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_UsersApp] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [UsersInfo]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [UsersInfo](
	[UserID] [uniqueidentifier] NOT NULL,
	[Tel] [varchar](500) NULL,
	[Phone] [varchar](500) NULL,
	[OtherTel] [varchar](500) NULL,
	[Fax] [varchar](500) NULL,
	[Address] [varchar](500) NULL,
	[Email] [varchar](50) NULL,
	[QQ] [varchar](50) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_UsersInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [UsersRelation]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UsersRelation](
	[UserID] [uniqueidentifier] NOT NULL,
	[OrganizeID] [uniqueidentifier] NOT NULL,
	[IsMain] [int] NOT NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_UsersRelation] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[OrganizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [UsersRole]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UsersRole](
	[MemberID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_UsersRole] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [WorkFlow]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WorkFlow](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Type] [uniqueidentifier] NOT NULL,
	[Manager] [varchar](5000) NOT NULL,
	[InstanceManager] [varchar](5000) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [uniqueidentifier] NOT NULL,
	[DesignJSON] [varchar](max) NULL,
	[InstallDate] [datetime] NULL,
	[InstallUserID] [uniqueidentifier] NULL,
	[RunJSON] [varchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_WorkFlow_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [WorkFlowArchives]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WorkFlowArchives](
	[ID] [uniqueidentifier] NOT NULL,
	[FlowID] [uniqueidentifier] NOT NULL,
	[StepID] [uniqueidentifier] NOT NULL,
	[FlowName] [nvarchar](500) NOT NULL,
	[StepName] [nvarchar](500) NOT NULL,
	[TaskID] [uniqueidentifier] NOT NULL,
	[GroupID] [uniqueidentifier] NOT NULL,
	[InstanceID] [varchar](500) NOT NULL,
	[Title] [nvarchar](4000) NOT NULL,
	[Contents] [text] NOT NULL,
	[Comments] [text] NOT NULL,
	[WriteTime] [datetime] NOT NULL,
 CONSTRAINT [PK_WorkFlowArchives] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [WorkFlowButtons]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WorkFlowButtons](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Ico] [varchar](500) NULL,
	[Script] [varchar](max) NULL,
	[Note] [varchar](max) NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_WorkFlowButtons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [WorkFlowComment]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WorkFlowComment](
	[ID] [uniqueidentifier] NOT NULL,
	[MemberID] [varchar](max) NOT NULL,
	[Comment] [nvarchar](500) NOT NULL,
	[Type] [int] NOT NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_WorkFlowComment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [WorkFlowDelegation]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WorkFlowDelegation](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[FlowID] [uniqueidentifier] NULL,
	[ToUserID] [uniqueidentifier] NOT NULL,
	[WriteTime] [datetime] NOT NULL,
	[Note] [nvarchar](4000) NULL,
 CONSTRAINT [PK_WorkFlowDelegate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [WorkFlowForm]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WorkFlowForm](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Type] [uniqueidentifier] NOT NULL,
	[CreateUserID] [uniqueidentifier] NOT NULL,
	[CreateUserName] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[LastModifyTime] [datetime] NOT NULL,
	[Html] [text] NULL,
	[SubTableJson] [text] NULL,
	[EventsJson] [text] NULL,
	[Attribute] [varchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_WorkFlowForm] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [WorkFlowTask]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WorkFlowTask](
	[ID] [uniqueidentifier] NOT NULL,
	[PrevID] [uniqueidentifier] NOT NULL,
	[PrevStepID] [uniqueidentifier] NOT NULL,
	[FlowID] [uniqueidentifier] NOT NULL,
	[StepID] [uniqueidentifier] NOT NULL,
	[StepName] [nvarchar](500) NOT NULL,
	[InstanceID] [varchar](50) NOT NULL,
	[GroupID] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[Title] [nvarchar](2000) NOT NULL,
	[SenderID] [uniqueidentifier] NOT NULL,
	[SenderName] [nvarchar](50) NOT NULL,
	[SenderTime] [datetime] NOT NULL,
	[ReceiveID] [uniqueidentifier] NOT NULL,
	[ReceiveName] [nvarchar](50) NOT NULL,
	[ReceiveTime] [datetime] NOT NULL,
	[OpenTime] [datetime] NULL,
	[CompletedTime] [datetime] NULL,
	[CompletedTime1] [datetime] NULL,
	[Comment] [varchar](max) NULL,
	[IsSign] [int] NULL,
	[Status] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Sort] [int] NOT NULL,
	[SubFlowGroupID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_WorkFlowTask] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [WorkGroup]    Script Date: 2015-09-13 20:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WorkGroup](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Members] [varchar](max) NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_WorkGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [AppLibrary] ([ID], [Title], [Address], [Type], [OpenMode], [Width], [Height], [Params], [Manager], [Note], [Code], [UseMember]) VALUES (N'8cff8e9f-f539-41c9-80ce-06a97f481390', N'日志查询', N'Log', N'94decd1d-8c60-4c85-8f00-e740c1d4847b', 0, 0, 0, N'', NULL, N'', NULL, NULL)
INSERT [AppLibrary] ([ID], [Title], [Address], [Type], [OpenMode], [Width], [Height], [Params], [Manager], [Note], [Code], [UseMember]) VALUES (N'cdbbb050-6f83-4468-9915-1476407a0071', N'会签测试', N'WorkFlowRun/Index', N'90d6ad24-28f5-49d3-ac3f-cb473fb64cc5', 0, NULL, NULL, N'flowid=f35d0b4a-b1f9-4fdc-b552-3720953b889f', NULL, N'流程应用', N'f35d0b4a-b1f9-4fdc-b552-3720953b889f', NULL)
INSERT [AppLibrary] ([ID], [Title], [Address], [Type], [OpenMode], [Width], [Height], [Params], [Manager], [Note], [Code], [UseMember]) VALUES (N'303def4d-5ad8-420c-98ec-14b0882a300b', N'实例管理', N'WorkFlowTasks/Instance', N'ba6a867d-75ec-4223-b123-84229e29ff0c', 0, NULL, NULL, NULL, NULL, N'', NULL, NULL)
INSERT [DBConnection] ([ID], [Name], [Type], [ConnectionString], [Note]) VALUES (N'06075250-30dc-4d32-bf97-e922cb30fac8', N'平台连接', N'SqlServer', N'Data Source=.;Initial Catalog=RoadFlow;UID=sa;PWD=111', N'')
INSERT [Dictionary] ([ID], [ParentID], [Title], [Code], [Value], [Note], [Other], [Sort]) VALUES (N'48d05cf9-81c2-4713-87ab-1a45321500de', N'7bc7c158-3492-41dd-8082-388495edf20c', N'办公类流程', NULL, NULL, NULL, NULL, 1)
INSERT [Dictionary] ([ID], [ParentID], [Title], [Code], [Value], [Note], [Other], [Sort]) VALUES (N'b50d5b1e-436a-48a4-b1fb-1f3cfb5579af', N'f3a258bf-c3c9-4591-9792-22401e017c83', N'弹出窗口(模态)', NULL, N'4', NULL, NULL, 5)
INSERT [Dictionary] ([ID], [ParentID], [Title], [Code], [Value], [Note], [Other], [Sort]) VALUES (N'722c3c62-5c62-4e5d-9805-1f7e630593d3', N'1e804b1d-0d61-43cc-9f72-33150e1dddfd', N'病假', NULL, NULL, NULL, NULL, 2)
INSERT [Organize] ([ID], [Name], [Number], [Type], [Status], [ParentID], [Sort], [Depth], [ChildsLength], [ChargeLeader], [Leader], [Note]) VALUES (N'3975624c-148f-4838-88c9-12af85d2e05e', N'财务部', N'04f12beb-d99d-43df-ac9a-3042957d6bda,3975624c-148f-4838-88c9-12af85d2e05e', 2, 0, N'04f12beb-d99d-43df-ac9a-3042957d6bda', 3, 1, 4, N'u_8086d01f-7ae3-402e-b543-d34f1059f79a', N'u_c2d3012a-c816-4149-ac04-9da0b60e3867', NULL)
INSERT [Organize] ([ID], [Name], [Number], [Type], [Status], [ParentID], [Sort], [Depth], [ChildsLength], [ChargeLeader], [Leader], [Note]) VALUES (N'82682cf5-50e1-4901-911b-1a935b5ddb6c', N'总经理', N'04f12beb-d99d-43df-ac9a-3042957d6bda,82682cf5-50e1-4901-911b-1a935b5ddb6c', 3, 0, N'04f12beb-d99d-43df-ac9a-3042957d6bda', 1, 1, 1, N'', N'', NULL)
INSERT [Organize] ([ID], [Name], [Number], [Type], [Status], [ParentID], [Sort], [Depth], [ChildsLength], [ChargeLeader], [Leader], [Note]) VALUES (N'04f12beb-d99d-43df-ac9a-3042957d6bda', N'天知软件', N'04f12beb-d99d-43df-ac9a-3042957d6bda', 1, 0, N'00000000-0000-0000-0000-000000000000', 1, 0, 12, NULL, NULL, NULL)
INSERT [Role] ([ID], [Name], [UseMember], [Note]) VALUES (N'efb111aa-2308-48e2-b1fc-54181ec35e3f', N'系统管理员', N'u_eb03262c-ab60-4bc6-a4c0-96e66a4229fe', NULL)
INSERT [Role] ([ID], [Name], [UseMember], [Note]) VALUES (N'0cf2abb1-5f90-4fb3-8fa9-b53628b92879', N'工作人员', N'04f12beb-d99d-43df-ac9a-3042957d6bda', NULL)
INSERT [RoleApp] ([ID], [ParentID], [RoleID], [AppID], [Title], [Params], [Sort], [Ico], [Type]) VALUES (N'507eba3a-1559-4f68-ad3f-02160e82408d', N'22f1c24e-cb9c-428a-86d7-7c0e714d6244', N'efb111aa-2308-48e2-b1fc-54181ec35e3f', N'd66621bd-1a4b-4438-bf2c-577fda5eeb03', N'物资采购申请', NULL, 2, NULL, 0)
INSERT [RoleApp] ([ID], [ParentID], [RoleID], [AppID], [Title], [Params], [Sort], [Ico], [Type]) VALUES (N'77b14053-24f3-49e3-a3fc-033cc0468d6b', N'df9f00a0-75c9-45f5-892c-7f2e9d1a3d35', N'efb111aa-2308-48e2-b1fc-54181ec35e3f', N'3553dd3d-491c-463c-832f-512e33959f44', N'工作委托', NULL, 6, NULL, 0)
INSERT [RoleApp] ([ID], [ParentID], [RoleID], [AppID], [Title], [Params], [Sort], [Ico], [Type]) VALUES (N'89c5233c-53b0-4962-afc5-05b2f244adbf', N'ffc56a9c-d4b1-48e7-8354-a1336ae6164b', N'0cf2abb1-5f90-4fb3-8fa9-b53628b92879', N'f709c6f3-5733-40db-be21-65dad93d0cdc', N'子流程测试', NULL, 4, NULL, 0)
INSERT [TempTest] ([ID], [Title], [UserID], [UserName], [DeptID], [DeptName], [Date1], [Date2], [Type], [Reason], [WriteTime], [Days], [test], [test1], [test2], [test3], [flowcompleted]) VALUES (N'1077ee6d-fe02-4c90-ae07-00af54a95ad6', N'徐洪的请假申请', N'u_eb03262c-ab60-4bc6-a4c0-96e66a4229fe', NULL, N'96f75a51-779b-491a-9773-cb5f90cef11e', NULL, CAST(0x0000A4E400000000 AS DateTime), CAST(0x0000A4E600000000 AS DateTime), N'722c3c62-5c62-4e5d-9805-1f7e630593d3', N'1242134', NULL, 2, N'', NULL, NULL, N'a8b9101f-4f8b-4830-9de1-c86ad89405c3', NULL)
SET IDENTITY_INSERT [TempTest_CustomForm] ON 

INSERT [TempTest_CustomForm] ([ID], [Title], [Contents], [FlowCompleted]) VALUES (1, N'11111111111', N'qwerqwerew', 0)
INSERT [TempTest_CustomForm] ([ID], [Title], [Contents], [FlowCompleted]) VALUES (2, N'rwe', N'werqwrwer', 0)
INSERT [TempTest_CustomForm] ([ID], [Title], [Contents], [FlowCompleted]) VALUES (3, N'f', N'f', 0)
SET IDENTITY_INSERT [TempTest_CustomForm] OFF
SET IDENTITY_INSERT [TempTest_News] ON 

INSERT [TempTest_News] ([ID], [Title], [Title1], [UserID], [Type], [Contents], [State]) VALUES (1002, N'', N'', N'u_eb03262c-ab60-4bc6-a4c0-96e66a4229fe', N'0', NULL, 0)
INSERT [TempTest_News] ([ID], [Title], [Title1], [UserID], [Type], [Contents], [State]) VALUES (1003, N'wertw', N'wertewrt', N'u_eb03262c-ab60-4bc6-a4c0-96e66a4229fe', N'0', NULL, 0)
INSERT [TempTest_News] ([ID], [Title], [Title1], [UserID], [Type], [Contents], [State]) VALUES (1004, N'', N'', N'u_eb03262c-ab60-4bc6-a4c0-96e66a4229fe', N'0', NULL, 0)
SET IDENTITY_INSERT [TempTest_News] OFF
SET IDENTITY_INSERT [TempTest_Purchase] ON 

INSERT [TempTest_Purchase] ([ID], [Title], [UserID], [UserDept], [SqDateTime], [TypeOther], [Note], [IsCompleted]) VALUES (3036, N'徐洪的物资采购申请', N'u_eb03262c-ab60-4bc6-a4c0-96e66a4229fe', N'96f75a51-779b-491a-9773-cb5f90cef11e', CAST(0x0000A4E100000000 AS DateTime), NULL, N'hrhrhtehr', NULL)
SET IDENTITY_INSERT [TempTest_Purchase] OFF
INSERT [TempTest_PurchaseList] ([ID], [PurchaseID], [Name], [Model], [Unit], [Quantity], [Sum1], [Date], [Type], [Note]) VALUES (N'00e1e521-b0cf-45f3-9cc2-41a32ed477b9', 3036, N'qwrewqer', N'2134', N'wqerwer', 123, NULL, CAST(0x0000A4DC00000000 AS DateTime), N'2134', N'1')
INSERT [Users] ([ID], [Name], [Account], [Password], [Status], [Sort], [Note]) VALUES (N'23c3e9fc-6d8a-4ea0-925a-0a0671d61378', N'阿德明', N'admin', N'3FAC7AE3767C2FB89B67D714D9D99CA0', 0, 1, N'0')
INSERT [Users] ([ID], [Name], [Account], [Password], [Status], [Sort], [Note]) VALUES (N'0362149c-af22-491f-baef-37bffcc1fd5c', N'毛明明', N'mmm', N'7577447B52FB96045ADD91A8F2AB06FB', 0, 1, NULL)
INSERT [Users] ([ID], [Name], [Account], [Password], [Status], [Sort], [Note]) VALUES (N'095ba7de-084a-41aa-a21e-4ccbb7cd4ff8', N'张刚', N'zg', N'32D782480428DFB43FC52A3E89BD8B2E', 0, 2, N'0')
INSERT [UsersApp] ([ID], [UserID], [ParentID], [RoleID], [AppID], [Title], [Params], [Ico], [Sort]) VALUES (N'b161d811-e52f-41aa-b2be-eacb592e440b', N'1acf9c22-bfb6-4673-a698-a58233747b92', N'7a8294ed-4393-46eb-8f11-81bc7bbe8458', N'efb111aa-2308-48e2-b1fc-54181ec35e3f', N'dd56ebf0-6fdb-46bf-86e9-9b57adb64766', N'请假申请', NULL, NULL, 11)
INSERT [UsersInfo] ([UserID], [Tel], [Phone], [OtherTel], [Fax], [Address], [Email], [QQ], [Note]) VALUES (N'eb03262c-ab60-4bc6-a4c0-96e66a4229fe', N'444444444444444', N'44444', N'11111', N'1111111111', N'111111111111', N'rwe', N'qrweq', N'xxxxxxxxxxxxxxxxxxxxxxx')
INSERT [UsersRelation] ([UserID], [OrganizeID], [IsMain], [Sort]) VALUES (N'23c3e9fc-6d8a-4ea0-925a-0a0671d61378', N'96f75a51-779b-491a-9773-cb5f90cef11e', 1, 4)
INSERT [UsersRelation] ([UserID], [OrganizeID], [IsMain], [Sort]) VALUES (N'0362149c-af22-491f-baef-37bffcc1fd5c', N'4f4865de-fda0-417b-9465-d7648309b772', 1, 4)
INSERT [UsersRelation] ([UserID], [OrganizeID], [IsMain], [Sort]) VALUES (N'095ba7de-084a-41aa-a21e-4ccbb7cd4ff8', N'96f75a51-779b-491a-9773-cb5f90cef11e', 1, 3)
INSERT [UsersRole] ([MemberID], [RoleID], [IsDefault]) VALUES (N'23c3e9fc-6d8a-4ea0-925a-0a0671d61378', N'0cf2abb1-5f90-4fb3-8fa9-b53628b92879', 1)
INSERT [UsersRole] ([MemberID], [RoleID], [IsDefault]) VALUES (N'0362149c-af22-491f-baef-37bffcc1fd5c', N'0cf2abb1-5f90-4fb3-8fa9-b53628b92879', 1)
INSERT [UsersRole] ([MemberID], [RoleID], [IsDefault]) VALUES (N'095ba7de-084a-41aa-a21e-4ccbb7cd4ff8', N'0cf2abb1-5f90-4fb3-8fa9-b53628b92879', 1)
INSERT [WorkFlowButtons] ([ID], [Title], [Ico], [Script], [Note], [Sort]) VALUES (N'29b358e1-ad64-4f09-846c-4554ae6b85c4', N'打印', N'/Images/ico/printer.gif', N'formPrint();', N'打印当前表单', 10)
INSERT [WorkFlowButtons] ([ID], [Title], [Ico], [Script], [Note], [Sort]) VALUES (N'7217b1b1-663d-4f7a-83ff-5b89047ace51', N'查看主流程表单', N'/Images/ico/topic.gif', N'showMainFlowForm()', NULL, 13)
INSERT [WorkFlowButtons] ([ID], [Title], [Ico], [Script], [Note], [Sort]) VALUES (N'da7c699c-3c55-4657-8781-6881ac9117b7', N'刷新', N'/Images/ico/Refresh.png', N'window.location=window.location;', N'刷新当前流程页面', 6)
INSERT [WorkFlowComment] ([ID], [MemberID], [Comment], [Type], [Sort]) VALUES (N'53faa4e2-1396-48ae-8153-087101ee0d5c', N'', N'不同意', 0, 2)
INSERT [WorkFlowComment] ([ID], [MemberID], [Comment], [Type], [Sort]) VALUES (N'3390261f-ea83-46ef-b53e-35ac154bd0a9', N'u_eb03262c-ab60-4bc6-a4c0-96e66a4229fe', N'同意', 1, 3)
INSERT [WorkFlowComment] ([ID], [MemberID], [Comment], [Type], [Sort]) VALUES (N'6ea44f47-8f2a-4eb6-bf34-dfd4c12d420a', N'', N'同意', 0, 1)
INSERT [WorkFlowDelegation] ([ID], [UserID], [StartTime], [EndTime], [FlowID], [ToUserID], [WriteTime], [Note]) VALUES (N'c00a2ab3-8dea-447d-8557-ec09a67b2c04', N'eb03262c-ab60-4bc6-a4c0-96e66a4229fe', CAST(0x0000A44D0153C090 AS DateTime), CAST(0x0000A4A00153C090 AS DateTime), N'f35d0b4a-b1f9-4fdc-b552-3720953b889f', N'eb03262c-ab60-4bc6-a4c0-96e66a4229fe', CAST(0x0000A4CE00F291F5 AS DateTime), N'124')
INSERT [WorkGroup] ([ID], [Name], [Members], [Note]) VALUES (N'6cdf7636-2887-4600-8d94-742113e1a00d', N'test', N'u_23c3e9fc-6d8a-4ea0-925a-0a0671d61378,u_095ba7de-084a-41aa-a21e-4ccbb7cd4ff8,4f4865de-fda0-417b-9465-d7648309b772', N'wr')
INSERT [WorkGroup] ([ID], [Name], [Members], [Note]) VALUES (N'53ba1155-8739-4353-af76-8b65d77cfcfa', N'测试', N'f5d7bcaa-d12f-48a9-96d1-73e979da8042', NULL)
INSERT [WorkGroup] ([ID], [Name], [Members], [Note]) VALUES (N'9ae062c9-f614-4465-ae16-c3f4d813a4c3', N'工作组中的工作组', N'3975624c-148f-4838-88c9-12af85d2e05e,w_53ba1155-8739-4353-af76-8b65d77cfcfa', NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [Index_Code]    Script Date: 2015-09-13 20:00:13 ******/
CREATE NONCLUSTERED INDEX [Index_Code] ON [Dictionary]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Number]    Script Date: 2015-09-13 20:00:13 ******/
CREATE NONCLUSTERED INDEX [Number] ON [Organize]
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Account]    Script Date: 2015-09-13 20:00:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Account] ON [Users]
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Log] ADD  CONSTRAINT [DF_Log_WriteTime]  DEFAULT (getdate()) FOR [WriteTime]
GO
ALTER TABLE [TempTest] ADD  CONSTRAINT [DF_TempTest_DeptID]  DEFAULT (newid()) FOR [DeptID]
GO
ALTER TABLE [TempTest] ADD  CONSTRAINT [DF_TempTest_WriteTime]  DEFAULT (getdate()) FOR [WriteTime]
GO
ALTER TABLE [TempTest_News] ADD  CONSTRAINT [DF_TempTest_News_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [TempTest_PurchaseList] ADD  CONSTRAINT [DF_TempTest_PurchaseList_ID]  DEFAULT (newid()) FOR [ID]
GO
